// .root {
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
// }
.root {
  margin-bottom: 1.75rem;
  overflow-x: auto;
  padding: 0 0.5rem 0.5rem;
  -webkit-overflow-scrolling: touch;
}
.chars {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  > li {
    display: flex;
    flex-grow: 0;
    margin: 0;
    justify-content: center;
    font-family: 'Cute Font', cursive;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    > div {
      background: #c7e4ff;
      box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px #6d8fb6, inset 2px 2px #dfdfdf;
      color: #000;
      height: 44px;
      line-height: 42px;
      padding: 0;
      text-align: center;
      width: 44px;
    }
    &.odd {
      > div {
        background: #ffd2cf;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px #b36d69, inset 2px 2px #dfdfdf;
      }
    }
  }
}
.stage {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  > li {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    font-family: 'Pixelated MS Sans Serif', Georgia, serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    .shim {
      border: 1px dashed #888;
      border-top: none;
      height: 20px;
      margin-left: 5%;
      width: 90%;
    }
    .num {
      color: #000;
      font-size: 14px;
      line-height: 1.6;
    }
  }
}
